<div id="home">
  <div class="container">

    <div class="jumbotron">
      <h1 class="display-3">Mooden</h1>
      <p class="lead">A simple tool to track your mood</p>
      <hr class="my-2">
      <p>Start using Mooden today!</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/login" role="button">Login/Register</a>
        <a class="btn btn-primary btn-lg" href="/dashboard" role="button">Test Dashboard</a>
      </p>
    </div>

  </div>
</div>

<footer>
  {{> footer }}
</footer>