
<p class="h3">Login to Mooden</p>
<form>
  <div class="mb-3">
    <label for="input-email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="input-email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="input-password" class="form-label">Password</label>
    <input type="password" class="form-control" id="input-password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="input-remember-me">
    <label class="form-check-label" for="input-remember-me">Remember Me</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>